<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"
            integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
            crossorigin="anonymous"></script>
</head>
<body>
<form hx-encoding='multipart/form-data' hx-post='/upload' hx-target="#progress" hx-swap="outerHTML"
      _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
    <input type='file' name='img'>
    <button>
        Upload
    </button>
    <progress id='progress' value='0' max='100'></progress>
</form>
</body>
</html>